@charset "utf-8";
/* CSS Document */

/* for icons */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('eot'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.glyphicon {
    /*http://getbootstrap.com/components//*/
    /* for icon list */
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    position: relative;
    top: 1px;
}

/* for refrence icons */

.glyphicon-earphone:before {
    content: "\e182";
    color: #00429b;
}

/* end for icons */

@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/robotomedium.eot');
    src: url('../fonts/robotomedium.eot?#iefix') format('eot'), url('../fonts/robotomedium.woff') format('woff'), url('../fonts/robotomedium.woff2') format('woff2'), url('../fonts/robotomedium.ttf') format('truetype'), url('../fonts/robotomedium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/robotoregular.eot');
    src: url('../fonts/robotoregular.eot?#iefix') format('eot'), url('../fonts/robotoregular.woff') format('woff'), url('../fonts/robotoregular.woff2') format('woff2'), url('../fonts/robotoregular.ttf') format('truetype'), url('../fonts/robotoregular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/robotolight.eot');
    src: url('../fonts/robotolight.eot?#iefix') format('eot'), url('../fonts/robotolight.woff') format('woff'), url('../fonts/robotolight.woff2') format('woff2'), url('../fonts/robotolight.ttf') format('truetype'), url('../fonts/robotolight.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../fonts/robotobold.eot');
    src: url('../fonts/robotobold.eot?#iefix') format('eot'), url('../fonts/robotobold.woff') format('woff'), url('../fonts/robotobold.woff2') format('woff2'), url('../fonts/robotobold.ttf') format('truetype'), url('../fonts/robotobold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------------*/

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;
    font-size: 100%;
}

*,
*:before,
*:after {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    /**/
}

.no-css-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    transition: none !important;
    /**/
}

a:link,
a:visited {
    color: #2e4fa5;
    text-decoration: none;
}

a:hover {
    color: #2e4fa5;
    text-decoration: underline;
}

.clear {
    clear: both;
}

.wrapper {
    overflow: hidden;
    /*auto*/
    background-color: #f2f2f2;
}

.contentarea {
    max-width: 980px !important;
    margin: 0 auto !important;
    height: 630px;
}

.contentareaNEW {
    max-width: 980px !important;
    margin: 0 auto !important;
}

.midcontentareaMasterNEW {
    background-color: #ffffff;
    float: left;
    padding: 10px;
    min-height: 600px;
    width: 100%;
    padding-top: 5px;
}

.header {
    overflow: hidden;
    width: 100%;
    float: left;
    padding: 20px 10px;
    border-bottom: 1px solid #e1e1e1;
    background-color: #ffffff;
}

.contentplaceholder {
    padding: 20px 0px;
}

.logoarea {
    overflow: hidden;
    float: left;
    width: 40%;
}

.logo {
    overflow: hidden;
    float: left;
}

.portalname {
    overflow: hidden;
    float: left;
    color: #0000cd;
    font-family: robotomedium, Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    font-style: italic;
    font-weight: bold;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 5px;
    border-left: 1px solid #e1e1e1;
    height: 41px;
}

.logindetails {
    overflow: hidden;
    float: right;
    width: 50%;
}

.headerright {
    overflow: hidden;
    float: right;
}

.headerrightNew {
    overflow: hidden;
    float: left;
}

.headerlogin {
    overflow: hidden;
    float: right;
}

.headerloginNEW {
    overflow: hidden;
    float: right;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    font-size: .9em;
    padding-bottom: 5px;
    color: #1176df;
}

.helpdesk {
    overflow: hidden;
    float: left;
    color: #1176df;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    font-size: .9em;
}

.helpdesk p {
    margin: 0;
    padding: 0;
}

.helpdeskicon {
    height: 41px;
    margin-left: 15px;
    padding-left: 15px;
    border-left: 1px solid #e1e1e1;
    float: right;
    margin-top: 0;
    text-align: right;
}

.helpdeskicon img {
    margin-top: 5px;
}

.midcontentarea {
    overflow: hidden;
    float: hidden;
    float: left;
    width: 100%;
    padding-top: 35px;
    background-color: #ffffff;
}

.midcontentareaMaster {
    overflow: hidden;
    float: hidden;
    float: left;
    width: 100%;
    padding-top: 10px;
    background-color: #ffffff;
}

.sliderarea {
    float: left;
    overflow: hidden;
    width: 76.25%;
}

.rightpanel {
    float: right;
    width: 23.75%;
    background-color: #0164ca;
}

.loginarea {
    padding: 20px;
    background-color: #005dbd;
    height: 190px;
}

.buttonarea {
    width: 100%;
    float: left;
    overflow: hidden;
}

.orangebutton {
    background-color: #cd9842;
    font-family: robotomedium, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.9em;
    padding: 5px;
    border: none;
    clear: both;
    margin-bottom: 10px;
}

.passwordarea {
    width: auto;
    float: right;
    font-family: robotomedium, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.7em;
    margin-top: 10px;
    text-decoration: none;
}

a.forgotpassword {
    color: #ffffff;
    padding: 0;
    font-size: 1em;
}

a.forgotpassword:hover {
    color: #ffffff;
    text-decoration: underline;
    padding: 0;
    font-size: 1em;
}

.logintitle h1 {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    background: url(/Images/Login/login-icon.jpg) top left no-repeat;
    font-family: robotobold, Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    text-indent: 30px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 20px;
}

.descriptionarea {
    padding: 20px;
    height: 345px;
}

.descriptionarea p {
    font-family: robotolight, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: #d4e9ff;
    text-decoration: none;
    text-align: left;
    line-height: 19px;
    margin-bottom: 40px;
}

.descriptionarea h1 {
    font-family: robotobold, Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #ffa91d;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.bluetxtbox {
    /*background-color:#257dcf;*/
    border: none;
    padding: 5px;
    font-size: .8em;
    /*color:#ffffff;*/
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 10px;
    clear: both;
}

.username {
    overflow: hidden;
    float: left;
}

.password {
    overflow: hidden;
    float: left;
}

.footerarea {
    background-color: #ffffff;
    float: left;
    text-align: right;
    padding: 10px;
    color: #666666;
    font-family: robotolight, Arial, Helvetica, sans-serif;
    font-size: .7em;
    width: 100%;
    padding-top: 20px;
    bottom: 0;
}

.Rememberpassword {
    color: #ffa91d;
    float: left;
    padding: 3px;
    font-family: robotomedium, Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    text-decoration: none;
}

.RoleSelectionMessage {
    font-family: robotobold, Arial, Helvetica, sans-serif;
    font-size: .9em;
    color: #ffa91d;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.Clearnew {
    padding: 3px;
}

/*.pie {
	border-radius:10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	behavior: url(../PIE.htc);
}*/