body {}

.HeaderStyle {
    color: #0000FF;
    font-family: Arial, Helvetica, sans-serif;
}

.GridHeaderStyle {
    text-align: center !important;
    text-align: center;
    height: 30px;
}

.Legendstyle {
    font-family: Arial, Helvetica, sans-serif;
    color: Maroon;
    font-weight: bold;
    font-size: small;
}

.LabelNoteStyle {
    font-family: Arial, Helvetica, sans-serif;
    color: Maroon;
    font-weight: bold;
    font-size: 10px;
}

.NotificationStyle {
    font-family: Arial, Helvetica, sans-serif;
    color: Red;
    font-weight: bold;
    font-size: 12px;
}

.SmallLabelstyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}

.orangebutton {
    background-color: #cd9842;
    font-family: robotomedium, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
    width: 75px;
    border: none;
    clear: both;
    margin-bottom: 10px;
}

.greybutton {
    background-color: Gray;
    font-family: robotomedium, Arial, Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px;
    width: 75px;
    border: none;
    clear: both;
    margin-bottom: 10px;
}

.TextBoxstyleSmall {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 80px;
    border: 1px solid gray;
}

.LabelHeaderstyle {
    /* font-family: Arial, Helvetica, sans-serif;*/
    font-weight: bold;
    font-size: 13px;
    color: #333333;
    padding: 5px;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    /*text-transform:uppercase;*/
    padding-right: 100px;
    vertical-align: top;
    clear: both;
}

.Labelstyle {
    /* font-family: Arial, Helvetica, sans-serif;*/
    font-weight: bold;
    font-size: 13px;
    color: #333333;
    padding: 5px;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    /*text-transform:uppercase;*/
    vertical-align: top;
    clear: both;
}

.MainTitle {
    /* font-family: Arial, Helvetica, sans-serif;*/
    font-weight: bold;
    font-size: 25px;
    color: #0000cd;
    padding: 10px;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    vertical-align: top;
    clear: both;
}

.footertextname {
    font-weight: bold;
    overflow: hidden;
    float: none;
    color: #0000cd;
    padding: 3px;
    font-size: 13px;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
    vertical-align: middle;
    clear: both;
}

.SubTitle {
    /* font-family: Arial, Helvetica, sans-serif;*/
    font-weight: bold;
    font-size: 18px;
    color: #1176DF;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    vertical-align: top;
    clear: both;
}

.uppercaseText {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #D2D2D7;
    border-right-color: #D2D2D7;
    border-bottom-color: #D2D2D7;
    border-left-color: #D2D2D7;
    padding: 5px;
    font-size: .8em;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
    clear: both;
}

.TextBoxstyleRed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 150px;
    border: 2px solid red;
}

.LongTextBoxstyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 350px;
    border: 1px solid gray;
}

.LongerTextBoxstyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 500px;
}

.DropDownStyle {
    border: 1px solid #D2D2D7;
    padding: 5px;
    font-size: .8em;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.TextBoxstyle {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #D2D2D7;
    border-right-color: #D2D2D7;
    border-bottom-color: #D2D2D7;
    border-left-color: #D2D2D7;
    padding: 5px;
    font-size: .8em;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    /*text-transform:uppercase;*/
    margin-bottom: 10px;
}

.RadioButtonStyle {
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-right: 15px;
}

.RadioButtonStyle label {
    margin-left: 5px;
}

.DropDownStyleRed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 2px solid red;
}

.RadioButtonStyleRed {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333333;
    border: 2px solid red;
}

.GridViewStyle tr td {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 5px;
    color: #333333;
    border: 1px solid #cccccc;
}

.CheckBoxStyle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.LabelInformation {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: Red;
    width: 250px;
}

.LabelError {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: Red;
}

.buttonbg {
    background-color: #186FC7;
    height: 20px;
    width: 100%;
}

.loginpicbg {
    background-image: url(../Images/Login/user_loginimg.jpg);
    background-repeat: no-repeat;
    height: 281px;
    width: 348px;
}

.SelectButtonGrid {
    background-image: url('../Images/Theme/Blue/Icons/SELECT25-25.png');
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.EditButtonGrid {
    background-image: url(../Images/Theme/Blue/Icons/EDIT25-25.jpg);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.DeleteButtonGrid {
    background-image: url(../Images/Theme/Blue/Icons/DELETE25-25.png);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.CopyButtonGrid {
    background-image: url(../Images/Theme/Blue/Icons/COPY25-25.jpg);
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.LabelInformation {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: Red;
    width: 250px;
}

.LabelError {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: Red;
}

.MenuTDHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: White;
    background-color: #0F76B8;
    text-align: center;
    width: 150px;
}

.Menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: White;
    background-color: #46A3DC;
    background-image: url(../Images/Theme/Blue/Menu/Left MenuBG.png);
    text-align: Left;
    width: 150px;
    border-bottom-color: #0F76B8;
}

.TopHeader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: White;
    background-image: url(../Images/Theme/Blue/Menu/Header Image.png);
}

.mGrid {
    width: 100%;
    background-color: #fff;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 5px 0 10px 0;
    border: solid 1px #D2D2D7;
    border-collapse: collapse;
}

.mGrid td {
    padding: 2px;
    border: solid 1px #D2D2D7;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #717171;
}

.mGrid th {
    text-align: center;
    padding: 4px 2px;
    color: #fff;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #005DBD url(grd_head.png) repeat-x top;
    border-left: solid 1px #D2D2D7;
}

.mGrid .alt {
    background: #fcfcfc url(grd_alt.png) repeat-x top;
}

.mGrid .pgr {
    background: #005DBD url(grd_pgr.png) repeat-x top;
    height: 25px;
}

.mGrid .pgr table {
    margin: 5px 0;
}

.mGrid .pgr td {
    border-width: 0;
    padding: 2px 6px;
    border-left: solid 1px #D2D2D7;
    font-weight: bold;
    color: #fff;
    line-height: 12px;
    font-family: robotoregular, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.mGrid .pgr a {
    color: #666;
    text-decoration: none;
}

.mGrid .pgr a:hover {
    color: #000;
    text-decoration: none;
}